body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}
header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.header-top {
  padding: 15px;
  font-size: 10px;
  text-align: right;
  background: white;
  margin-bottom: 2%;
}
.leftcolumn {
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 23%;
  padding-left: 2%;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}